header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}